﻿
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
<title>Index</title>
    <link href="@Url.Content("~/Styles/style.css")" rel="stylesheet" type="text/css" />
 @*   <script src="http://maps.google.com/maps/api/js?v=3&sensor=true&libraries=visualization&callback=initialize" type="text/javascript"></script>*@
<script async defer src="https://maps.googleapis.com/maps/api/js?v=3&key=AIzaSyA3JHNVzPYfWDTSSB4A6mZBlt0fac78DDw&libraries=visualization&callback=initialize"
        type="text/javascript"></script>
   
    <script src="http://code.jquery.com/jquery-latest.js" type="text/javascript"></script>
    <script type='text/javascript'>  
        $(document).ready(initialize);


// 1. mapa
        function initialize() {   
            var wspolrzedne = new google.maps.LatLng(52.22207512938468,21.006942987442017);
            var opcjeMapy = {
                zoom: 12,
                center: wspolrzedne,
                mapTypeId: "OSM",
                mapTypeControlOptions: {
                    mapTypeIds: ["OSM"]
                }
            };
            var map = new google.maps.Map(document.getElementById("mapa"), opcjeMapy);
            function addMarker(position, map, title){
                var marker = new google.maps.Marker({
                    position: position,
                    map: map,
                    title: title
                });
            }


// 2. osm
            map.mapTypes.set("OSM", new google.maps.ImageMapType({
                getTileUrl: function(coord, zoom) {
                    return "http://tile.openstreetmap.org/" + zoom + "/" + coord.x + "/" + coord.y + ".png";
                },
                tileSize: new google.maps.Size(256, 256),
                name: "OpenStreetMap",
                maxZoom: 18
            }));

// 3 geolocaion
            if (navigator.geolocation) {
                navigator.geolocation.getCurrentPosition(function(position){
                    var latlon = position.coords.latitude + "," + position.coords.longitude;
                    console.log('Twoje położenie: ', latlon);
                    map.setCenter({lat:position.coords.latitude, lng: position.coords.longitude});
                });
            }
            var infowindow = new google.maps.InfoWindow();

            var stopsMarkers = [];
            var queryMarkers = [];
            var stopsToggle = 1;
            var queryToggle = 1;           
            function setMapOnAll(map, markers) {
                for (var i = 0; i < markers.length; i++) {
                    markers[i].setMap(map);
                }
            }

            // Removes the markers from the map, but keeps them in the array.
            function clearMarkers(markers) {
                setMapOnAll(null, markers);
            }

            // Shows any markers currently in the array.
            function showMarkers(markers) {
                setMapOnAll(map, markers);
            }

            // Deletes all markers in the array by removing references to them.
            function deleteMarkers() {
                clearMarkers(queryMarkers);
                queryMarkers = [];
            }

            var heatmap = new google.maps.visualization.HeatmapLayer({
                data: getPoints(),
                map: map
            });
            function toggleHeatmap() {

                heatmap = new google.maps.visualization.HeatmapLayer({
                    data: getPoints(),
                    radius: 25,
                    map: map
                });
                //   heatmap.setMap(heatmap.getMap() ? null : map);
            }

            function getPoints() {
                var points = [];
                for (var i = 0; i < queryMarkers.length; i++) {
                    points.push(queryMarkers[i].getPosition());
                }
                return points;
            }

            $("#toggleHeatmap").on("click", function () {
                toggleHeatmap();
            });

            $("#deleteMarkers").on("click", function () {
                deleteMarkers();
            });

            $("#clearStops").on("click", function () {
                if (stopsToggle === 1) {
                    clearMarkers(stopsMarkers);
                    stopsToggle = 0;
                } else {
                    showMarkers(stopsMarkers);
                    stopsToggle = 1;
                }
            });

            $("#clearQuery").on("click", function () {
                if (queryToggle === 1) {
                    clearMarkers(queryMarkers);
                    queryToggle = 0;
                } else {
                    showMarkers(queryMarkers);
                    queryToggle = 1;
                }
            });

            $("#stops").on("click", function () {
                document.getElementById("loader").style.display = "block";
                $.ajax({
                    url: "/Home/GetAllStops",
                    type: "POST",
                    contentType: "application/json; charset=utf-8",
                    dataType: "json",
                    data: {},
                    success: function (response) {
                        var l =response.length;
                      //  console.log('success', response);
                        var marker;
                        for (var i = 0; i < l; i++) {

                          //  console.log(response[i].Name);

                            var position = new google.maps.LatLng(response[i].Lat, response[i].Lon);
                           // bounds.extend(position);
                            marker = new google.maps.Marker({
                                position: position,
                                map: map,
                                title: response[i].Name
                            });
                            stopsMarkers.push(marker);
        
                            google.maps.event.addListener(marker, 'click', (function(marker, i) {
                                return function() {
                                    infowindow.setContent(response[i].Name);
                                    infowindow.open(map, marker);
                                }
                            })(marker, i));
                        }
                        $("#loader").hide();
                    },
                    error: function(response) {
                        console.warn('getAllStops error', response);
                        $("#loader").hide();
                    }
                });
                $("#stops").hide();
                $("#loader").hide();
            });

            $("#execute").on("click", function() {
                
                var url = $("#query").val().replace(/(\r\n|\n|\r)/gm, "");;
                var index = url.indexOf("filter");
                var filter = "chunktime >= to_timestamp('" +
                    $("#dateFrom").val() +
                    "', 'dd-mm-yyyy hh24:mi:ss') and chunktime <= to_timestamp('" +
                    $("#dateTo").val() +
                    "', 'dd-mm-yyyy hh24:mi:ss')";
                if (index === -1) {
                    var last = url.lastIndexOf("&");
                    url = url.substr(0, last) + encodeURI("&filter=") + encodeURI(filter) + url.substr(last);
                } else {                    
                    url = url.substr(0, index + 7) + encodeURI(filter) + encodeURI(" and ") + url.substr(index + 7);
                }
                console.log(url);
            });
            $("#execute1").on("click", function () {
                document.getElementById("loader").style.display = "block";
                var url = $("#query").val().replace(/(\r\n|\n|\r)/gm, "");;
                var index = url.indexOf("filter");
                var filter = "chunktime >= to_timestamp('" +
                    $("#dateFrom").val() +
                    "', 'dd-mm-yyyy hh24:mi:ss') and chunktime <= to_timestamp('" +
                    $("#dateTo").val() +
                    "', 'dd-mm-yyyy hh24:mi:ss')";
                if (index === -1) {
                    var last = url.lastIndexOf("&");
                    url = url.substr(0, last) + encodeURI("&filter=") + encodeURI(filter) + url.substr(last);
                } else {
                    url = url.substr(0, index + 7) + encodeURI(filter) + encodeURI(" and ") + url.substr(index + 7);
                }

                $.ajax({
                    url: url,
                    type: "GET",
                    contentType: "application/json; charset=utf-8",
                    dataType: "json",
                    data: {},
                    success: function (response) {
                        var l = response.length;
                        var type = url.indexOf("buses_l") !== -1 ? 1 : 2;
                        console.log((type === 1 ? "BUSES: " : "TRAMS: ") + l);
                        for (var i = 0; i < l; i++) {
                            var markerLabel = type === 1 ? response[i].lines.toString() : response[i].firstline.toString();

                            var position = new google.maps.LatLng(response[i].lat, response[i].lng);

                            var marker = new google.maps.Marker({
                                position: position,
                                map: map,
                                label: {
                                    text: markerLabel,
                                    color: "#000000",
                                    fontSize: "12px",
                                    fontWeight: "bold"
                                },
                                title: markerLabel
                            });

                            queryMarkers.push(marker);
                            google.maps.event.addListener(marker, 'click', (function (marker, i) {
                                return function () {
                                    type === 1
                                        ? infowindow.setContent(response[i].lines.toString())
                                        : infowindow.setContent(response[i].firstline.toString());
                                    
                                    infowindow.open(map, marker);
                                }
                            })(marker, i));
                        }
                        $("#loader").hide();
                    },
                    error: function(response) {
                        console.warn('query error', response);
                        $("#loader").hide();
                    }
                });
               
            });


        }  

    </script>  

    <style>
        #mapa {
            position:absolute; 
            top:0;
            left:0;
            right:0;
            bottom:0;
            background:#eee;
        }
        #q {
            position: absolute;
            top: 40px;
            z-index: 10;
        }
        .loader {
            border: 16px solid #f3f3f3; /* Light grey */
            border-top: 16px solid #3498db; /* Blue */
            border-radius: 50%;
            width: 120px;
            height: 120px;
            animation: spin 2s linear infinite;
            margin: 0;
            position: absolute;
            top: 40%;
            left: 50%;
        }

        @@keyframes spin {
        0% { transform: rotate(0deg); }
        100% { transform: rotate(360deg); }
        }
    </style>


</head>
<body>

<div id="mapa"></div>
<div id="q">
    <button type="submit" id="stops">Show stops</button>
    <button type="submit" id="clearStops">Toggle stops</button>
    <button type="submit" id="clearQuery">Toggle Query</button>
    <button type="submit" id="deleteMarkers">Delete all query markers</button><br/>
    <button type="button" id="toggleHeatmap">Toggle Heatmap</button>
    <h4>Required columns: firstline, lat, lng.</h4>
    <textarea id="query" rows="4" cols="40">http://tram-data-processor-api3.azurewebsites.net/query/v1/buses_l?columns=id%2Clines%2Cround(ST_X(ST_Transform(geom%2C%204326))%3A%3ANUMERIC%2C4)%20as%20lng%2Cround(ST_Y(ST_Transform(geom%2C%204326))%3A%3ANUMERIC%2C4)%20as%20lat&limit=200

</textarea>
    <br/>
    date format: dd-mm-yyyy hh:mi:ss <br />
    from: <input type="text" id="dateFrom"  value="01-06-2017 11:45:59"/>
    to: <input type="text" id="dateTo" value="01-06-2017 11:46:00" />
    <br />
    <button type="submit" id="execute">Print URL to console</button>
    <button type="submit" id="execute1">Execute</button>
</div>
<div class="loader" id="loader" style="display: none"></div>
</body>
</html>

